num2words~=0.5.12
git+https://github.com/Rapptz/discord.py
dnspython~=2.4.1
motor~=3.2.0
python-dateutil~=2.8.2
pytz~=2023.3
python-decouple
snowflake-id
requests
aiohttp~=3.8.5
sentry_sdk
roblox~=2.0.0
zuid~=0.1.1
pytest
typing_extensions
reactionmenu~=3.1.3
jishaku~=2.5.1
oauth2client~=4.1.3
gspread~=5.10.0
sentry_sdk[pymongo]
uvicorn~=0.23.2
fastapi~=0.100.1
aiohttp-cors
pymongo~=4.4.1
pydantic~=2.1.1
gspread_asyncio
fuzzywuzzy
python-Levenshtein