body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #212122;
}

#container {
  position: relative
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: -1; /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
